---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";

import HorizontalCard from "@/components/card/HorizontalCard.astro";

import heroImageEn from "@/assets/en/hero.svg";
import heroImagePt from "@/assets/pt/hero.svg";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const projects = (await getCollection("blog"))
  .filter((post) => post.slug.split("/")[0] === locale)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<Layout>
  <!-- <Image
    src={locale === "pt" ? heroImagePt : heroImageEn}
    alt={t({
      en: "Hello",
      pt: "Olá",
    })}
    loading="eager"
  /> -->

  <p>
    <em>
      {
        t({
          en: "Welcome to my personal portfolio! I'm André, a Full Stack Developer and Linux enthusiast, currently working at a company where I am a co-founder with a professor I had in college, serving as the lead developer on various projects for multiple clients.",
          pt: "Bem-vindo ao meu portfólio pessoal! Sou André, um Desenvolvedor Full Stack e entusiasta de Linux, atualmente estou trabalhando em uma empresa onde sou co-fundador com um professor que tive na faculdade, atuando como o principal desenvolvedor em diversos projetos para diversos clientes.",
        })
      }
    </em>
  </p>

  <!-- <p>
    {
      t({
        en: "Here, you will find details about my professional journey, educational background, skills, and the projects I've worked on. Feel free to explore and learn more about how I can help bring your ideas to life. Let's build something amazing together!",
        pt: "Aqui, você encontrará detalhes sobre minha trajetória profissional, formação educacional, habilidades e os projetos nos quais trabalhei. Fique à vontade para explorar e saber mais sobre como posso ajudar a transformar suas ideias em realidade. Vamos construir algo incrível juntos!",
      })
    }
  </p> -->

  <!-- <p>
    {
      t({
        en: "currently completing my degree in Computer Science after beginning my academic journey in Software Engineering. ",
        pt: "atualmente me formando em Ciência da Computação, após iniciar minha trajetória acadêmica em Engenharia de Software. ",
      })
    }
  </p> -->

  <h2>
    {
      t({
        en: "Some projects",
        pt: "Alguns projetos",
      })
    }
  </h2>

  <div class="grid grid-cols-1 gap-4">
    {
      projects.map((post) => {
        const [, ...slug] = post.slug.split("/");
        return (
          <HorizontalCard
            title={post.data.title}
            date={post.data.date}
            img={post.data.cover}
            slug={slug.join("/")}
            desc={post.data.description}
            href={`/${locale}/blog/${slug.join("/")}/`}
          />
        );
      })
    }
  </div>
  <center>
    <a
      href={getRelativeLocaleUrl(locale, "blog")}
      class="btn btn-primary mt-3"
      transition:name={t({
        en: "Projects",
        pt: "Projetos",
      })}
    >
      <span class="material-icons-sharp dir">arrow_forward</span>
      {
        t({
          en: "All projects",
          pt: "Todos os projetos",
        })
      }
    </a>

    <a
      href="https://github.com/andre-brandao"
      target="_blank"
      class="btn btn-primary mt-3"
    >
      <span class="material-icons-sharp dir">arrow_forward</span>
      GitHub
    </a>
  </center>
</Layout>

<style>
  ul {
    margin-block-start: var(--sp-s);
    list-style: disc;
    padding-inline-start: 1em;
  }

  h2 {
    color: var(--color-theme);
    margin-block-start: var(--sp-l);
  }

  em {
    display: block;
    font-style: normal;
    font-size: 1.3em;
    margin-block-end: var(--sp-m);
  }

  .start {
    display: block;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;
    background: var(--color-main);
    color: var(--color-base);
    text-decoration: none;
    letter-spacing: 0.05em;
  }
</style>
